@import './reset.css';
@import './variables.css';
@import './fonts.css';
@import './utilities.css';
@import './typography.css';

@import './components/issue_list.css';
@import './components/reasons.css';
@import './components/subscribe_form.css';
@import './components/testimonials.css';

/* Primary Layout */
html,
body {
    font-family: var(--font-sans);
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    @media (min-width: 880px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
    }
    .header {
        background: var(--color-black);
        color: var(--color-white);
        position: relative;

        .header-inner {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            justify-content: space-between;
            padding: var(--spacing-fluid);
            min-height: 100%;

            /* At large sizes, we let the header sorta float in the middle. */
            max-width: 680px;
            margin: 0 auto;
        }

        .header-info {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .header-ctas {
            text-align: center;
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        background: var(--color-white);
        color: var(--color-black);
        overflow-y: scroll;

        .newsletter_content {
            flex: 1 0 8990px;
        }

        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }
    }
}

/* Elements */

button {
    background: none;
    border: none;
}

button,
a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--color-green);
    padding-bottom: 0.25em;
}

.button {
    background: var(--color-green);
    border: none;
    border-radius: 0.25rem;
    color: var(--color-black);
    padding: 0.75rem 1.5rem;
}

.text_button {
    font-family: var(--font-mono);
}

.subscribe_icons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .subscribe_icons-item {
        a {
            background: var(--image-url) no-repeat left center;
            background-size: 1.5rem;
            display: block;
            font-family: var(--font-mono);
            font-size: 0.75em;
            line-height: 1.325rem;
            height: 1.5rem;
            padding: 0 0 0 2.25rem;
            border-bottom: 0;

            span {
                @media (max-width: 480px) {
                    display: none;
                }
            }
        }
    }
}
