@import './reset.css';
@import './variables.css';
@import './fonts.css';
@import './utilities.css';
@import './typography.css';

@import './components/issue_list.css';
@import './components/reasons.css';
@import './components/subscribe_form.css';
@import './components/subscribe_icons.css';
@import './components/testimonials.css';

/* Primary Layout */
html,
body {
    font-family: var(--font-sans);
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.no-scroll {
    @media (max-width: 879px) {
        overflow: hidden;
    }
}

.container {
    @media (min-width: 880px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        position: relative;
    }
    .header {
        background: var(--color-dark);
        border-right: 1px solid #000;
        color: var(--color-white);

        @media (prefers-color-scheme: dark) {
            background: var(--color-black);
        }

        /* Contain the reasons modal on desktop (only) */
        @media (min-width: 880px) {
            position: relative;
        }

        .header-inner {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: space-between;
            padding: var(--spacing-fluid);
            min-height: 100%;

            /* At large sizes, we let the header sort of float in the middle. */
            max-width: 740px;
            margin: 0 auto;
        }

        .header-info {
            display: flex;
            flex-direction: column;
            gap: clamp(1rem, 2vw, 2rem);
        }

        .header-ctas {
            text-align: center;
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        background: var(--color-white);
        color: var(--color-dark);
        overflow-y: scroll;

        @media (prefers-color-scheme: dark) {
            background: var(--color-dark);
            color: var(--color-white);
        }

        .newsletter_content {
            flex: 1 0 8990px;
        }

        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }
    }
}

/* Elements */

button {
    background: none;
    border: none;
}

button,
a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--color-green);
    padding-bottom: 0.25em;
}

.button {
    background: var(--color-green);
    border: none;
    border-radius: 0.25rem;
    color: var(--color-black);
    padding: 0.75rem 1.5rem;
}

.text_button {
    font-family: var(--font-mono);
    font-size: clamp(0.875rem, 2.25vw, 1rem);
}
